.title
	Hosts:
%ul
	- @hosts.each do |h|
		%li 
			= link_to h.name, :action => 'show', :id => h.id
			.ping
				= link_to 'ping', host_ping_path(host_id: h.id), :action => 'ping', :remote => true
				.result