.title
	Hosts:
%ul
	- @hosts.each do |h|
		%li 
			.item
				= link_to h.name, :action => 'show', :id => h.id
			.result
				- ping = h.ping_records.last
				= "last: #{ping.response_ms} ms (##{ping.response_code})"